<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body class="container">

<header>
  <%- include('header'); %>
</header>
<main>
  <div class="jumbotron">
    <h1>Auctions</h1>
    <a class="nav-link" href="/add-auction">List auction</a><br>

    <div id="auctions-div">
        <% auction.forEach(function(auction) { %>
          <div>
              <img src="<%=auction.img%>" height="250">
              <div>
                <h5><%= auction.name %></h5>
                <p>Starting bid: <%= auction.initialbid %></p>
                <p>Highest bid: <%= auction.highestbid %></p>
                <p><%= auction.description %></p><br>
                <input type="text" id="input" placeholder="0.00" />
                  <button
                    type="button"
                    onclick="sendMessage(document.getElementById('input').value, '<%=auction._id%>')"
                    id="submit"
                  >
                    Submit Bid
                  </button>
                  <p id="bids">
                  </p>
                </div>

              </div>
          </div>
          <% }) %>
      </div>
      
  </div>
</main>
<footer>
    <%- include('footer'); %>
</footer>

</body>
<script>
  const socket = new WebSocket("ws://localhost:3000");

  socket.addEventListener("open", function (event) {
    console.log("Connected to WS Server");
  });

  socket.addEventListener("message", function (event) {
    console.log("message from server", event.data);
    bid = JSON.parse(event.data)
    console.log(bid)
    console.log(event.data)
    document.getElementById("bids").innerHTML += bid.bid+"<br/>"
  });

  const sendMessage = (bid, id) => {
    
    console.log("bid inside sendmessage: ",bid)
    
    console.log("id: ",id)
    var ret = {
      bid: parseInt(bid),
      id: id
    }
    socket.send(JSON.stringify(ret));
  };
</script>
</html>