<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body class="container">

<header>
  <%- include('header'); %>
</header>
<main>
  <div class="jumbotron">
    <h1>Item Listings</h1>
    <a class="nav-link" href="/add-item">List item</a><br>

      <div id="items-div">
        <% item.forEach(function(item) { %>
          <div>
              <img src="<%=item.img%>" height="250">
              <div>
                  <h5><%= item.name %></h5>
                  <p><%= item.price %></p>
                  <p><%= item.description %></p>
                  <button type="button" onclick=Add to cart</button>
              </div>
          </div>
          <% }) %>
      </div>

  </div>
</main>
<footer>
    <%- include('footer'); %>
</footer>
</body>
</html>