<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body class="container">

<header>
  <%- include('header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Item Listings</h1>
    <a class="nav-link" href="/add-item">List item</a>
  </div>
  <div>
    
  </div>
</main>
<footer>
    <%- include('footer'); %>
</footer>
<% items.forEach(function(image) { %>
  <div>
      <div>
          <img src="data:image/<%=image.img.contentType%>;base64,
               <%=image.img.data.toString('base64')%>">
          <div>
              <h5><%= image.name %></h5>
                


<p><%= image.desc %></p>



          </div>
      </div>
  </div>
  <% }) %>

</body>
</html>