<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body class="container">

<header>
  <%- include('header'); %>
</header>

<script>
  function sendPostRequest() {
    var button = document.getElementById("button-id");
    var id_item = document.getElementById("iddd").innerText;
    var request = new XMLHttpRequest();
    request.open("POST", '/add-cart');
    request.setRequestHeader("Content-Type", "application/json");
    var data = {id: id_item};
    request.send(JSON.stringify(data));
  };
</script>

<main>
  <div class="jumbotron">
    <h1>Item Listings</h1>
    <a class="nav-link" href="/add-item">List item</a><br>

      <div id="items-div">
        <% item.forEach(function(item) { %>
          <div>
              <img src="<%=item.img%>" height="250">
              <div>
                  <h5><%= item.name %></h5>
                  <p id="iddd"><%= item._id %></p>
                  <p><%= item.price %></p>
                  <p><%= item.description %></p>
                  <button type="button" onclick="sendPostRequest();">Add to cart</button>
              </div>
          </div>
          <% }) %>
      </div>

  </div>
</main>
<footer>
    <%- include('footer'); %>
</footer>
</body>
</html>